# Basic Python

## 1. Split this string

In [7]:
s = "Hi there Sam!"

In [8]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [10]:
planet = "Earth"
diameter = 12742

In [18]:
planet+" "+"is "+format(diameter)+" kilometers."

'Earth is 12742 kilometers.'

## 3. In this nest dictionary grab the word "hello"

In [22]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [23]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

# Numpy

In [71]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [72]:
np.array([0,0,0,0,0,0,0,0,0,0])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [73]:
np.array([5,5,5,5,5,5,5,5,5,5])

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

## 5. Create an array of all the even integers from 20 to 35

In [82]:
import numpy as np
np.array([1])
array=[i for i in range(20,36,2)]
print(array)

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [75]:
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [76]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
arr=np.concatenate((a ,b))
print(arr)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [85]:
import pandas as pd
data=[1,2,3,4,5,6]
df=pd.DataFrame(data)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [89]:
import pandas as pd
import datetime

tdate= datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
date=pd.date_range(tdate,41)
print(date.strftime("%d-%m-%Y"))

Index([], dtype='object')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [93]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df=pd.DataFrame(lists,columns = ["Sno","Letters", "RevNo"])
print(df )

   Sno Letters  RevNo
0    1     aaa     22
1    2     bbb     25
2    3     ccc     24